body {
    background-color:rgb(107, 53, 156);

    .nav {
        background-color: rgb(45, 8, 77);
        border-radius: 13px;
        &__brand {
            color:rgb(142, 7, 160)
        }
        &__link:hover {
            background-color:rgb(94, 19, 163);
            border-radius: 8px;
        }
        &__btn {
            color:white;
            border: 6px sold white;
            background-color: rgb(94, 19, 163);
        }
    }
    .list {
        &__head{
            background-color:rgb(94, 19, 163);
            padding: 10px;
            color: white;
        }

        &__item {
            background-color:rgb(45, 8, 77); 
            margin: 2px;
            border-radius: 5px;
            font-size: 15px;
            color: white;
        }
        &__item:hover {
            background-color:rgb(141, 63, 209); 
            margin: 2px;
            border-radius: 5px;
            color: white;
        }
        &__shope {
            margin-left: 100px;
        }
        &__model {
            background-color:rgb(45, 8, 77); 
        }
    }
    .colStyle {
        background-color:rgb(45, 8, 77);
        border-radius: 5px;
        padding: 4px;
         &__card {
             
             width: 17rem;
             background-color:black;
             color: white;
             margin:4px;
             padding:3px;
             .card_btn{ 
                background-color:rgb(181, 112, 246);
                color: white;
            }
            .card_btn:hover {
                background-color: rgb(221, 210, 231);
                color: black;
            }
         }
        
    }
    .footer{
        background-color:rgb(39, 21, 56);
        margin-top: 10px;
        padding:15px;
        text-align: center;
        &__text {
            color: white;
            font-weight: bold;
            font-size: 20px;
        }
    }
}

 