<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportLand | index page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/style/style.css" rel="stylesheet">
</head>
<body>

    <div class="container" >

    <nav class="navbar mt-3 navbar-expand-lg nav">
        <div class="container-fluid">
          <a class="navbar-brand nav__brand " href="#">SportLand</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white nav__link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav__link" href="#">Fitness</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav__link" href="#">Clothing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav__link" href="#">Accessories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav__link" href="#">Brands</a>
              </li>
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn nav__btn" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
        <div class="row mt-4 " id="app">
            <div class="col-md-3 col-lg-3" >
                <ul class="list-group list">
                    <h4 class="list__head">Products List</h4>
                    <li v-for="(product,index) in productsList" :key="product.index" class="list-group-item list__item">{{ product.name }}</li>
                    
                </ul>
            </div>
            <div class="col-md-9 inline col-lg-9 ">
              
                <div class="row  colStyle justify-content-center">
                   
                    <div v-for="(productItem,index) in products" :key="productItem.index" class="card colStyle__card "  >
                        <img :src="productItem.image" class="card-img-top">
                        <div class="card-body colStyle__card__body">
                            <div class='card-text'>{{ productItem.name }}</div>
                            <div class="text-muat">{{ productItem.price}}</div>
                            <div class="container text-right">
                                <button class="btn card_btn mt-2 "><i class="fa fa-cart-plus"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
       <div class="footer__text">&copy SportLand</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0f51093c8b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <!-- //<script src="/javascript/app.js"></script> -->
    <script>
    var vm = new Vue({
        el: "#app",
        data: {
            // productsList: [
            //     {name: "FITNESS"},
            //     {name: "SHOES"},
            //     {name: "CLOTHING"},
            //     {name: "ACCESSORIES"},
            //     {name: "BRANDS"},
            //     {name: "LEISURE SPORTS"},
            // ],
            // products: [
            //         { name: "Body-Solid EXM3000LPS Multi Gym", price: "90,000SD", image: "/resources/IMG.webp" },
            //         { name: "Body-Solid Flat Bench", price: "40,000SD", image: "/resources/IMG1.webp" },
            //         { name: "Body-Solid EXM3000LPS Multi Gym", price: "50,000SD", image: "/resources/IMG2.webp" },
            //         { name: "Yonex Aerus 3 Mens Badminton Shoes (Black)", price: "20,000SD", image: "/resources/IMG22.webp" },
            //         { name: "Victor SH-A930 Indoor Court Shoes (Blue/Silver)", price: "17,000SD", image: "/resources/IMG11.webp" },
            //         { name: "Adidas Id Winners CN Womens T-Shirt (Blue)", price: "10,000SD", image: "/resources/IMG44.webp" },
            //         { name: "Yonex Womens Round Neck T-Shirt (Lolite-20316)", price: "11,000SD", image: "/resources/IMG55.webp" },
            //         { name: "Babolat Microfiber Cap (White)", price: "6,00SD", image: "/resources/IMG66.webp" },
            //         { name: "Asics Gel-Torrance 2 Running Shoes (Light Steel/White)", price: "14,000SD", image: "/resources/IMG77.webp" },
            //         ]
            productsList: [],
            products: []
        },
        mounted: function() {
            axios('/javascript/data.json')
            .then(res => {
 
                 this.products = res.data.products;
                 this.productsList = res.data.productsList;
                // console.log(res.data.productsList);
           
            })
           
        }
    })
        
        
    </script>

</body>
</html>