<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportLand | index page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/style/style.css" rel="stylesheet">
</head>
<body>

    <div class="container" id="app">

    <nav class="navbar mt-3 navbar-expand-lg nav">
        <div class="container-fluid">
          <a class="navbar-brand nav__brand font-weight-bold" href="#">SportLand</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white nav__link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav__link" href="#">Fitness</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav__link" href="#">Clothing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav__link" href="#">Accessories</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link text-white nav__link" href="#">Brands</a>
              </li>
              <li class="nav-item  d-flex"><div class="nav-link text-white nav__link nav__shope" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-shopping-cart"></i></div><span class="text-white">{{ cartItem }}</span></li>              

            </ul>
            <form class="d-flex ml-5">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn nav__btn" type="submit">Search</button>
            </form>

          </div>
        </div>


        <!-- Modal -->
        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog"  >
            <div class="modal-content" >
                <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLabel">Cart items</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <table class="table table-responsive">
                      <tr class="text-white" style="background-color:rgb(82, 29, 129);">
                          <td>Image</td>
                          <td>Name</td>
                          <td>Price</td>
                          <td>Remove</td>
                      </tr>
                      <tr v-for="(cart,index) in carts" :key="carts.index">
                        <td ><img :src="cart.image" width="90px" height="80"> </td>
                        <td>{{cart.name}}</td>
                        <td>{{cart.price}}</td>
                        <td><button @click="removeFromCart(index)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                    </tr>
                    
                  </table>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn text-white" style="background-color:rgb(82, 29, 129);">Check out</button>
                </div>
            </div>
            </div>
        </div>

      </nav>
        <div class="row mt-4 " >
            <div class="col-md-3 col-lg-3" >
                <ul class="list-group list">
                    <h4 class="list__head">Products List</h4>
                    <li v-for="(product,index) in productsList" :key="product.index" class="list-group-item list__item">{{ product.name }}</li>
                    
                </ul>
            </div>
            <div class="col-md-9 inline col-lg-9 ">
              
                <div class="row  colStyle justify-content-center">
                   
                    <div v-for="(productItem,index) in products" :key="productItem.index" class="card colStyle__card "  >
                        <img :src="productItem.image" class="card-img-top">
                        <div class="card-body colStyle__card__body">
                            <div class='card-text'>{{ productItem.name }}</div>
                            <div class="text-muat">{{ productItem.price}}</div>
                            <div class="container text-right">
                                <button @click="addToCart(productItem)" class="btn card_btn mt-2 "><i class="fa fa-cart-plus"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
       <div class="footer__text">&copy SportLand</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0f51093c8b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <!-- //<script src="/javascript/app.js"></script> -->
    <script>
    var vm = new Vue({
        el: "#app",
        data: {
            
            productsList: [],
            products: [],
            carts: [],
            cartItem: 0,
        },
        mounted: function() {
            axios('/javascript/data.json')
            .then(res => {
 
                 this.products = res.data.products;
                 this.productsList = res.data.productsList;
                // console.log(res.data.productsList);
           
            })
           
        },
        methods : {
            addToCart(product) {
                this.carts.push(product);
                this.cartItem++;
            },
            removeFromCart(index) {
                this.carts.splice(index,1);
            }
        }
    })
        
        
    </script>

</body>
</html>